
.header{
    font-size: 24px;
    font-style:  italic;
}

.second-block{
    flex: 0.3;
    display: flex;
    flex-flow: column wrap;
    border-left: #dcdfff 10px solid;
    justify-content: flex-start;
}


.bg-light{
    background: #ffffff !important;
}



.demo{
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 20px;
}

.demo-content{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    font-size:18px;
    min-height: 500px;
}


.first-block{
    flex:0.7;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
}


.first-block-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 10px;
}

.middle{
    vertical-align: middle;
}



html,body{
    height: 100%;
}

body{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    background: #dcdfff;
}



#treatinfo {
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
}


.treat-inner {
    flex: 1;
    display: flex;
    flex-flow:column;
}


.treat-inner-item {
    flex: 1;
    border: 1px black solid;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}


/*тултип??*/
#ttip:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}



/*modal dialog overlay*/
.ui-widget-overlay {
    background: #d2bfff;
    opacity: 0.6;
    filter: Alpha(Opacity=.3);
}