<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет ТФОМС НСО</title>

    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="https://www.novofoms.ru/">
                            <img th:src="@{/images/logo_small.png}"  alt="tfoms logo">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container p-4">
            <div class="container-fluid">
                <h3>Упс...Возникла ошибка</h3>
                <p th:if="${status >= 500}"><span>Ошибка на сервере. Попробуйте позже.</span></p>
                <p th:if="${status == 404}"><span>Страница не найдена.</span></p>
                <p th:text="${error}"></p>
                <p th:if="${description != null}" ><b><span  th:text="${description}"></span></b></p>
                <a href="/"><p>На главную</p></a>
                <!-- Вывод всех доступных элементов thymeleaf-->
                <!-- <table>
                    <tr th:each="var : ${#vars.getVariableNames()}">
                        <td th:text="${var}"></td>
                        <td th:text="${#vars.getVariable(var)}"></td>
                    </tr>
                    &lt;!&ndash; Adding these manually because they're considered special.
                         see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199
                    &ndash;&gt;
                    <tr>
                        <td>param</td>
                        <td th:text="${#vars.getVariable('param')}"></td>
                    </tr>
                    <tr>
                        <td>session</td>
                        <td th:text="${#vars.getVariable('session')}"></td>
                    </tr>
                    <tr>
                        <td>application</td>
                        <td th:text="${#vars.getVariable('application')}"></td>
                    </tr>
                </table>-->
            </div>
        </div>
    </div>

    <footer>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <p class="mx-auto">
                    © 2019 Copyright:<a href="https://novofoms.ru">ТФОМС НСО</a>
                </p>
            </div>
        </nav>
    </footer>
</body>
</html>