<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет застрахованного</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

    <link  rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="https://www.novofoms.ru/">
                            <img th:src="@{/images/logo_small.png}"  alt="tfoms logo">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container p-3">
            <div class="row">
                <div class="container-fluid text-center">
                    <h4><b>Уважаемый посетитель</b></h4>
                </div>
                <p>«Личный кабинет застрахованного лица» позволяет застрахованному в системе обязательного медицинского страхования гражданину:</p>
                <p>
                    <ul>
                        <li>
                            <b>направить обращение ТФОМС НСО, которое будет рассмотрено в соответствии с Федеральным законом от 02.05.2006 № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»;</b>
                        </li>
                        <li>
                            <b>получить информацию об оказанных медицинских услугах и их стоимости;</b>
                        </li>
                        <li>
                            узнать медицинскую организацию прикрепления, режим ее работы для прохождения диспансеризации и объем медицинских услуг  в рамках профилактических мероприятий, в том числе диспансеризации, на текущий календарный год;
                        </li>
                        <li>
                            получить информацию о своих персональных данных, которые содержатся в региональном сегменте Единого регистра застрахованных лиц Новосибирской области;
                        </li>
                        <li>
                            ознакомиться с информацией о  согласии на индивидуальное информационное сопровождение страховой медицинской организацией на всех этапах оказания медицинской помощи  и  воспользоваться шаблоном (формой) согласия на индивидуальное информационное сопровождение;
                        </li>
                        <li>
                            подать заявление о выборе (замене) страховой медицинской организации;
                        </li>
                        <li>
                            узнать о готовности полиса.
                        </li>
                    </ul>
                </p>
                <p>
                    Отображенные в «Личном кабинете застрахованного лица» сведения доступны для ознакомления круглосуточно без взимания платы и иных ограничений. Информация предоставляется в доступной, наглядной и понятной форме.
                    Процедура регистрации и использование сервисов «Личного кабинета застрахованного лица» осуществляется посредством Единой системы идентификации и аутентификации для предоставления государственных и муниципальных услуг в электронной форме – <b>используется логин и пароль Единого <a href="https://gosuslugi.ru">портала</a> государственных услуг</b>(ЕПГУ).
                    Информацию об оказанной за счёт средств ОМС медицинской помощи также можно получить, обратившись к сервисам Единого портала государственных услуг.
                    При отображении информации в «Личном кабинете застрахованного лица» и её обновлении ТФОМС НСО соблюдает требования законодательства о персональных данных и обеспечивает её защиту.
                    Телефон горячей линии по вопросам ОМС <b>8 800 222 1515.</b>
                </p>
                <div class="mx-auto">
                    <a class="btn btn-dark btn-lg" href="/api/auth">Вход</a>
                    <a class="btn btn-outline-secondary btn-lg" href="https://esia.gosuslugi.ru/registration/">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <p class="mx-auto">
                   © 2019 Copyright:<a href="https://novofoms.ru">ТФОМС НСО</a>
                </p>
            </div>
        </nav>
    </footer>
</body>
</html>