<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Личный кабинет застрахованного</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/info-controller.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="https://www.novofoms.ru/">
                            <img th:src="@{/images/logo_small.png}"  alt="tfoms logo">
                        </a>
                    </li>
                </ul>
                <a class="btn btn-outline-dark my-2 my-sm-0" href="/api/logout">Выход</a>
            </div>
        </nav>
        <div class="p-3">
            <div class="container demo p-4">
                <div class="header mb-2">
                    <b>
                        <span th:text="${personInfo.lastName}"></span>
                        <span th:text="${personInfo.firstName}"></span>
                        <span th:text="${personInfo.middleName}"></span>
                    </b>
                </div>
                <div class="demo-content">
                    <div class="first-block mr-3">
                        <div class="mb-2" th:if="${personInsurance != null}">
                            <p  class="border-bottom border-dark"><b>Страхование</b></p>
                            <div>
                                <p th:if="${personInsurance.serPol!=null && personInsurance.serPol.length() > 0}"><span th:text="${personInsurance.serPol.length() == 16 ? 'Номер полиса: ' : 'Серия полиса: '}"></span><span th:text="${personInsurance.serPol}"></span></p>
                                <p th:if="${personInsurance.numPol!=null && personInsurance.numPol.length() > 0}">Номер полиса: <span th:text="${personInsurance.numPol}"></span></p>
                                <p th:if="${personInsurance.typePol!=null && personInsurance.typePol.length() > 0}">Тип полиса: <span th:text="${personInsurance.typePol}"></span></p>
                                <p th:if="${personInsurance.dateBegin!=null}">Дата начала действия полиса: <span th:text="${personInsurance.dateBegin.length() > 0} ? ${personInsurance.dateBegin} : ' - '"></span></p>
                                <p th:if="${personInsurance.dateEnd != null}">Дата окончания действия полиса: <span th:text="${personInsurance.dateEnd.length() > 0} ? ${personInsurance.dateEnd} : ' - ' "></span></p>
                                <p th:if="${personInsurance.smo != null}">Страховая медицинская организация: <span th:text="${personInsurance.smo}"></span> (<b><span th:text="${personInsurance.smoPhone}"></span></b>)</p>
                                <p th:if="${personInsurance.lpu != null}">Медицинская организация по месту прикрепления: <span th:text="${personInsurance.lpu}"></span></p>
                                <p th:if="${personInsurance.lpuId != null}">Реестровый номер медицинской организации: <span th:text="${personInsurance.lpuId}"></span></p>
                                <p>
                                    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#tableCollapse" aria-expanded="false" aria-controls="tableCollapse" th:if="${moSchedule != null && !moSchedule.isEmpty()}">График работы МО</button>
                                    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#dispCollapse" aria-expanded="false" aria-controls="dispCollapse" th:if="${dispInfo.age != null && dispInfo.age != 0}">Объем диспансеризации</button>
                                </p>
                                <div th:if="${moSchedule!=null && !moSchedule.isEmpty()}" class="collapse table-responsive" id="tableCollapse">
                                    <table border="1">
                                        <tr>
                                            <th>Адрес медицинской организации (поликлинического отделения)</th>
                                            <th>Режим работы медицинской организации</th>
                                            <th>Режим работы медицинской организации в выходные дни для прохождения профилактических медицинских осмотров и диспансеризации</th>
                                            <th>Контактные телефоны для записи на профилактический медицинский осмотр и диспансеризацию</th>
                                        </tr>
                                        <tr th:each="mo :  ${moSchedule}">
                                            <td><span th:text="${mo.address != null ? mo.address : ''}"></span></td>
                                            <td><span th:text="${mo.weekdays != null ? mo.weekdays : ''}"></span></td>
                                            <td><span th:text="${mo.dayOffs != null ? mo.dayOffs : ''}"></span></td>
                                            <td><span th:text="${mo.contacts != null ? mo.contacts : ''}"></span></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="collapse" id="dispCollapse" th:if="${dispInfo.age != null && dispInfo.age != 0}">
                                    <p><b>Объем диспансеризации:</b></p>

                                    <ol th:if="${dispNames!= null && !dispNames.isEmpty()}">
                                        <li th:each="name : ${dispNames}">
                                            <span th:text="${name}"></span>
                                        </li>
                                    </ol>

                                    <ul class="small" th:if="${dispPrims!=null && !dispPrims.isEmpty()}">
                                        <li th:each="prim : ${dispPrims}">
                                            <span th:text="${prim}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="mb-2" th:if="${personInsurance != null}">
                            <p class="border-bottom border-dark"><b>Регистрация по месту жительства</b></p>
                            <p><span th:text="${personInsurance.addrStr.startsWith(',') ? personInsurance.addrStr.substring(1) : personInsurance.addrStr}" th:if="${personInsurance.addrStr != null}"></span></p>
                            <p><span th:text="${'Регистрация по месту жительства не найдена.'}" th:if="${personInsurance.addrStr == null}"></span></p>
                        </div>


                        <div class="mb-2" th:if="${personInsurance != null}">
                            <p class="border-bottom border-dark"><img th:if="${passportEquals != null && !passportEquals}" th:src="@{/images/icons/alert-square.svg}"
                                                                      id="ttip" class="" width="24" height="24" data-toggle="tooltip" data-placement="top"
                                                                      title="Данные отличаются от тех, которые указаны на портале госуслуг.">
                                <b>Документ, удостоверяющий личность: </b>
                                <span th:text="${personInsurance.docStr == null ? 'не найден' : personInsurance.docStr}"></span>
                            </p>

                            <div id="docs" th:if="${personInsurance.docStr != null}">
                                <p th:if="${personInsurance.serDoc != null}" id="serdoc">Серия: <span th:text="${personInsurance.serDoc}"></span></p>
                                <p th:if="${personInsurance.numDoc != null}" id="numdoc">Номер: <span th:text="${personInsurance.numDoc}"></span></p>
                            </div>
                        </div>
                        <div class="border border-dark text-center p-1">
                            <p>Для актуализации своих персональных данных необходимо обратиться в свою страховую медицинскую организацию или по телефону Горячей линии ОМС <b>8-800-222-1515</b>.</p>
                        </div>
                    </div>



                    <div class="second-block pl-3">
                        <div class="btn btn-outline-dark mb-2" id="appeal">
                            <div>
                                <form id="form_appeal" action="https://www.novofoms.ru/rights_protection/faq.php" method="post">
                                    <div th:if="${personInfo != null}">
                                        <input type="hidden" name="personLastName" th:value="${personInfo.lastName != null ? personInfo.lastName : ''}">
                                        <input type="hidden" name="personFirstName" th:value="${personInfo.firstName != null ? personInfo.firstName : ''}">
                                        <input type="hidden" name="personMiddleName" th:value="${personInfo.middleName != null ? personInfo.middleName : ''}">
                                        <input type="hidden" name="personBirthDate" th:value="${personInfo.birthDate != null ? personInfo.birthDate : ''}">
                                        <input type="hidden" name="personEmail" th:value="${email != null ? email.value : ''}">
                                        <div th:if="${address != null}">
                                            <input type="hidden" name="personAddrRegion" th:value="${address.region}">
                                            <input type="hidden" name="personAddrArea" th:value="${address.area}">
                                            <input type="hidden" name="personAddrCity" th:value="${address.city}">
                                            <input type="hidden" name="personAddrStreet" th:value="${address.street}">
                                            <input type="hidden" name="personAddrHouse" th:value="${address.house}">
                                            <input type="hidden" name="personAddrSettlement" th:value="${address.settlement}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <span>Подать обращение в ТФОМС НСО</span>
                        </div>
                        <div class="btn btn-outline-dark mb-2" id="about_treat">
                            <span>Получить информацию о перечне оказанных услуг</span>
                        </div>

                        <div class="btn btn-outline-dark mb-2" id="check_polis">
                            <div style="display: none;">
                                <form id="check" action="https://www.novofoms.ru/services/check_p.php" method="post">
                                    <input type="hidden" name="enp"  th:if="${personInsurance != null && personInsurance.serPol != null && personInsurance.numPol != null}"
                                           th:value="${personInsurance.serPol.length() == 16 ? personInsurance.serPol : personInsurance.numPol.length() == 16 ? personInsurance.numPol : ''}">
                                    <div th:if="${passport != null}">
                                        <input type="hidden" name="passportSeries" th:value="${passport.series != null ? passport.series : ''}">
                                        <input type="hidden" name="passportNumber" th:value="${passport.number != null ? passport.number : ''}">
                                        <input type="hidden" name="personBirthDate" th:value="${personInfo.birthDate != null ? personInfo.birthDate : ''}">
                                    </div>
                                </form>
                            </div>
                            <span>Проверить готовность полиса обязательного медицинского страхования единого образца</span>
                        </div>
                        <div class="btn btn-outline-dark mb-2" onclick="window.open('https://www.gosuslugi.ru/333637/1','mywindow')">
                            <span>Подать заявление о выборе страховой медицинской организации</span>
                        </div>

                        <div class="btn btn-outline-dark mb-2" id="about-agreement">
                            <span>Оформить согласие на индивидуальное информационное сопровождение страховой медицинской организацией на всех этапах оказания медицинской помощи</span>
                        </div>
                    </div>
                    <div id="dialog" title="Узнать об оказанных мед.услугах">
                        <form id="treat-form" method="post" action="/treat">
                            <div class="form-group">
                                <label for="dateBegin">Дата начала</label>
                                <input type="date" class="form-control required" id="dateBegin" name="dateBegin" placeholder="Введите дату начала">
                            </div>
                            <div class="form-group">
                                <label for="dateEnd">Дата окончания</label>
                                <input type="date" class="form-control required" id="dateEnd" name="dateEnd" placeholder="Введите дату окончания">
                            </div>
                        </form>
                        <div id="progress-bar"></div>
                    </div>

                    <div id="accept-dialog" title="Согласие на индивидуальное информационное сопровождение СМО">
                        <div>
                            <p>Данную форму Вы можете заполнить, распечатать и передать/переслать в удобной для Вас форме (письмом, эл. письмом)
                                на адрес ТФОМС НСО и/или СМО, или передать страховому представителю в медицинской организации</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <p class="mx-auto">
                    © 2019 Copyright:<a href="https://novofoms.ru">ТФОМС НСО</a>
                </p>
            </div>
        </nav>
    </footer>
</body>
</html>