<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет застрахованного</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="https://www.novofoms.ru/">
                            <img th:src="@{/images/logo_small.png}"  alt="tfoms logo">
                        </a>
                    </li>
                </ul>
                <a class="btn btn-outline-dark my-2 my-sm-0" href="/api/logout">Выход</a>
            </div>
        </nav>
        <div class="container p-4">
            <h4>Оказанные Вам медицинские услуги с <span th:text="${dateBegin}"></span> по <span th:text="${dateEnd}"></span></h4>
            <div>
                <table id="treat-table" class="table table-striped  table-bordered table-hover" th:if="${treats != null}">
                    <thead class="thead-dark">
                        <tr>
                            <th>Дата начала</th>
                            <th>Дата окончания</th>
                            <th>Наименование</th>
                            <th>Регион</th>
                            <th>Мед. учреждение</th>
                            <th>Тип лечения</th>
                            <th>Уровень оказания</th>
                            <th>Сумма лечения</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="treat : ${treats}">
                            <td><span th:text="${treat.dateRenderingFrom}"></span></td>
                            <td><span th:text="${treat.dateRenderingTo}"></span></td>
                            <td><span th:text="${treat.name}"></span></td>
                            <td><span th:text="${treat.regionName}"></span></td>
                            <td><span th:text="${treat.clinicName}"></span></td>
                            <td><span th:text="${treat.careType}"></span></td>
                            <td><span th:text="${treat.careRegimen}"></span></td>
                            <td><span th:text="${treat.medServicesSum}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center" th:if="${treats == null}">
                <p>Информация по Вашему лечению не найдена.</p>
            </div>
            <div>
                <form id="export-form" action="/export">
                    <input type="hidden" th:value="${dateBegin}" name="dateFrom">
                    <input type="hidden" th:value="${dateEnd}" name="dateTo">
                </form>
                <button class="btn btn-primary" onclick="$('#export-form').submit()" th:if="${treats != null}">Скачать</button>
                <button onclick="javascript:history.back()" class="btn btn-secondary">Назад</button>
            </div>
        </div>
    </div>
    <footer>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <p class="mx-auto">
                    © 2019 Copyright:<a href="https://novofoms.ru">ТФОМС НСО</a>
                </p>
            </div>
        </nav>
    </footer>
</body>
</html>